#CommandPaletteAutoComplete {
   max-height: 150px;
   position: absolute;
   overflow: hidden auto;
   background: rgba(255, 255, 255, 0);
   border-radius: 7px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   border: 1px solid var(--scrollbar-color);
   opacity: 0;
   transition: opacity .7s ease;
   width: 100%;
}

#CommandPaletteAutoComplete li {
   cursor: pointer;
   font-size: 1.3rem;
   font-weight: 300;
   letter-spacing: var(--letter-spacing);
   padding: 11px 3px;
}

#CommandPaletteAutoComplete li.selected,
#CommandPaletteAutoComplete li:hover {
   background-color: var(--scrollbar-color);
}

.show-suggestions #CommandPaletteAutoComplete {
   opacity: 1;
}