#SearchInput {
   width: 100%;
   font-weight: 700;
   overflow: hidden;
   text-align: center;
   resize: none;
   font-size: 4rem;
   line-height: 4rem;
   background: transparent;
   color: inherit;
   border: 0;
   outline: 0;
}