.SearchInput-Wrapper {
   position: relative;
   width: 100%;
}

.overlay {
   width: 100%;
   position: absolute;
   pointer-events: none;
   white-space: pre-wrap;
}

#SearchInput {
   overflow: hidden;
   resize: none;
   background: transparent;
   color: inherit;
   border: 0;
   outline: 0;
   color: aqua;
}