.SearchInput-Wrapper,
.overlay {
   width: 100%;
}

.overlay {
   position: absolute;
   pointer-events: none;
   overflow: hidden;
   z-index: 1;
}

textarea#SearchInput {
   z-index: 2;
   overflow: auto hidden;
   resize: none;
   background: transparent;
   border: 0;
   outline: 0;
   color: transparent;
   caret-color: var(--foreground);
   /* Adiciona isso para esconder correções ortográficas e sugestões */
   text-shadow: none !important;
   -webkit-text-fill-color: transparent;
   /* Safari/Chrome */
   -webkit-text-stroke: 0 transparent
}