#Clock {
   opacity: 1;
   transition: opacity .3s ease;
}

#Clock time {
   font-size: 5.5rem;
   letter-spacing: var(--letter-spacing);
   text-align: center;
   font-weight: 500;
}

#Clock .separator {
   top: -7px;
}

.focused #Clock {
   opacity: 0;
}