#Clock {
   opacity: 1;
   transition: opacity .3s ease;
   font-size: 5.5rem;
   font-weight: 500;
   letter-spacing: var(--letter-spacing);
}

#Clock span.separator {
   display: inline-flex;
   margin: 0 7px;
   top: -.4rem;
}