#CommandPaletteInput-Wrapper {
   border-radius: 3rem 3rem 0 0;
   flex: 1;
   border-bottom: 0;
}

#CommandPaletteInput-Wrapper #CommandPaletteInputContainer {
   width: 100%;
   overflow: hidden;
   margin-right: 3rem;
}

#CommandPaletteInput-Wrapper button {
   color: inherit;
   cursor: pointer;
   background-color: transparent;
   border: none;
   width: auto;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   font-size: 3rem;
}

#CommandPaletteInput-Wrapper button.clear {
   transition: opacity .3s ease;
   opacity: 0;
   left: unset;
   right: calc(3rem + 5px);
   font-size: 2.5rem;
   position: absolute;
}

#CommandPaletteInput-Wrapper button:last-child {
   left: -9px
}

#CommandPaletteInput-Wrapper #CommandPaletteInputContainer #CommandPaletteInput {
   z-index: 2;
   overflow: auto hidden;
   resize: none;
   border: none;
   outline: none;
   background: transparent;
   color: transparent;
   caret-color: var(--foreground);
   -webkit-TextHighlight-fill-color: transparent;
   -webkit-TextHighlight-stroke: 0 transparent;
   height: 100%;
   TextHighlight-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
   border-top-left-radius: 3rem;
}