#SearchAutoComplete-Wrapper {
   max-height: 150px;
   position: absolute;
   top: 7rem;
   overflow: hidden auto;
   background: rgba(255, 255, 255, 0);
   border-radius: 7px;
   font-size: 1.3rem;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   border: 1px solid var(--scrollbar-color);
   overflow-x: hidden;
   width: 50vw;
}

#SearchAutoComplete-Wrapper li {
   text-align: center;
   cursor: pointer;
   list-style: none;
   font-weight: 400;
   letter-spacing: 1.13px;
   line-height: 3rem;
}

#SearchAutoComplete-Wrapper li>svg {
   margin-right: 7px;
}

#SearchAutoComplete-Wrapper li.selected {
   background-color: var(--scrollbar-color);
}