#SearchAutoComplete-Wrapper {
   max-height: 150px;
   position: absolute;
   top: 6rem;
   overflow-y: auto;
   background: rgba(255, 255, 255, 0);
   border-radius: 7px;
   font-size: 1.3rem;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   border: 1px solid var(--scrollbar-color);
   overflow-x: hidden;
   width: 50vw;
}

#SearchAutoComplete-Wrapper li {
   padding: 0.5rem 1rem;
   text-align: center;
   cursor: pointer;
   list-style: none;
   font-weight: 400;
   letter-spacing: 1.13px;
   line-height: 2.0625rem;
}

#SearchAutoComplete-Wrapper li.selected {
   background-color: var(--scrollbar-color);
}

#SearchAutoComplete-Wrapper li p {
   margin-left: 7px;
}