#CommandPaletteInput-Wrapper {
   background: rgba(255, 255, 255, 0);
   border-radius: 3rem;
   box-shadow: 0 4px 30px #0000001a;
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   border: 1px solid var(--scrollbar-color);
   flex: 1;
}

#CommandPaletteInput-Wrapper #CommandPaletteInputContainer {
   width: 100%;
   overflow: hidden;
   border-radius: 3rem 0 0 3rem;
}

#CommandPaletteInput-Wrapper button {
   color: inherit;
   cursor: pointer;
   background-color: transparent;
   border: none;
   width: 60px;
   left: -7px;
}

#CommandPaletteInput-Wrapper #CommandPaletteInputContainer #CommandPaletteInput {
   z-index: 2;
   overflow: auto hidden;
   resize: none;
   background: transparent;
   border: 0;
   outline: 0;
   color: transparent;
   caret-color: var(--foreground);
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0 transparent;
   height: 100%;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
   padding-left: 2rem;
}