div.highlight-overlay {
   width: 100%;
}

.highlight {
   padding: 5px 1rem;
   background: var(--scrollbar-color);
   border-radius: 1rem;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   transition: background-color 2s ease, color 1s ease;
   left: -2rem;
}

.highlight>svg {
   box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.13);
}